<header>
  <nav class="navbar">
    <div class="brand-title">QuickHire</div>
    <button class="toggle-button" id="toggleButton">☰</button>
    <div class="navbar-links" id="navbarLinks">
      <ul>
        <li><a href="http://localhost:5000/home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <% if(type === 'login'){ %>
      <ul>
        <li><a href="http://localhost:5000/signup">Sign Up</a></li>
      </ul>
      <% }else if(type === 'signup'){ %>
      <ul>
        <li><a href="http://localhost:5000/login">Log in</a></li>
      </ul>
      <% } %>
    </div>
  </nav>
</header>
