<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <!-- <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Submit</button>
    </form>
    Don't have an account?
    <a href="http://localhost:3000/signup">Sign up</a> -->
    <%- include('partials/generalHeader') %>
    <div class="login-container">
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            placeholder="Enter your username"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Enter your password"
          />
        </div>
        <button type="submit">Login</button>
        <p class="signup-link">
          Don't have an account?
          <a href="http://localhost:5000/signup">Sign up</a>
        </p>
      </form>
    </div>
    <%- include('partials/footer') %>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = Object.fromEntries(urlParams.entries());
      if (myParam.msg) {
        alert("please log in first!");
      }
    </script>
  </body>
</html>
